<meta charset="utf-8">
<title>
@if (ViewBag.Title?.Length > 0)
{
	<text>@ViewBag.Title - @ViewBag.Category1 - @ViewBag.App @(ViewBag.Version)</text>
} else {
	@ViewBag.App
}
</title>
<meta name="description" content="@ViewBag.Title">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="msapplication-tap-highlight" content="no">
<link rel="stylesheet" media="screen, print" href="~/css/vendors.bundle.css">
<link rel="stylesheet" media="screen, print" href="~/css/app.bundle.css">
<link rel="stylesheet" media="screen, print" href="~/css/site.css">
<link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
<link href="~/css/notifications/toastr/toastr.css" rel="stylesheet" />
<partial name="_Favicon"/>